$DefaultTheme: #017aa7;
$HeaderLinkColor: #ffffff;
$HeaderActiveBgColor: #055f82;
$SubheaderBgColor: #4e4e4e;
$SubheaderActiveBgColor: #777;
$GreenBtn:#4fb558;
$SublinkColor: #23a1d6;
$FooterBgColor: #191919;
$UpdateBgColor: #143642;
$UpdateBtnColor: #ff6b35;
$ContestBgColor:#4d4d4d;
//fontStyles
$Title : 20px;
// Header Css
.logo{
  padding:0px;
}
.navbar{
  background-color: $DefaultTheme;
  margin: 0px;
  border: none;
  border-radius: 0px;
}
.subheader_section,.Main_content_section{
  background-color:$SubheaderBgColor;
}
.nav_innerdiv{
    margin:10px;
}
.navbar-nav li{
  padding:10px;
}
.navbar-default .navbar-nav>li>a{
  color: $HeaderLinkColor ;
  padding-top: 5px;
  padding-bottom:5px;
}
.navbar-default .navbar-nav>li>a.join{
  color:$SublinkColor;
  padding: 5px;
}
.navbar-default .navbar-right>li{
  padding: 10px 5px 5px 0px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: $HeaderLinkColor;
}
#headerlinks>li>a:focus,#headerlinks>li>a:hover{
  background-color: $HeaderActiveBgColor;
  border-radius: 5px;
}
.subheaderlinks>li:focus, .subheaderlinks>li:hover{
  background-color: $SubheaderActiveBgColor;
}
.btn .btn-success{
  background-color: $GreenBtn;
}
.headerlinkactive{
  background-color: $HeaderActiveBgColor;
  color: #555;
  border-radius: 5px;
}
.subheaderlinkactive{
  background-color: $SubheaderActiveBgColor;
}
.loginbtn{
  padding:5px;
}
//Footer Css
.footer_section{
  background-color: $FooterBgColor;
  flex:1;
  flex-direction: column;
  align-items: center;
  padding:10px;
  justify-content: center;
  display: flex;
}
.footerlinks {
  li{
    float:left;
    list-style-type:none;
    padding:10px;
    a{
      color:#8f8f8f;
      text-decoration: none;
    }
  }
}
//Update Css
.update_section{
  background-color: $UpdateBgColor;
  flex:1
}
.section{
  padding:10px;
  padding-right: 0px;
}
.innersection{
  margin:10px;
  background-color: $DefaultTheme;
  color:$HeaderLinkColor;
  border:none;
}
.update_btn{
  background-color: $UpdateBtnColor;
  padding:10px 10px 8px 8px;
}
.btn{
  font-size: 20px;
  &:hover{
    color: $HeaderLinkColor;
  }
}
.btn_style{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.contest_section{
  background-color: $ContestBgColor;
  margin:10px;
  color:$HeaderLinkColor;
  h6{
    color:$UpdateBtnColor;
    padding:5px;
    padding-top:0px;
    line-height: 1px;
  }
  p{
    padding: 5px;
    font-size: 12px;
    line-height: 1px;
    span{
      float:right;
    }
  }
}
.plaintext{
  font-size: 16px;
}
//Content Css
.addsection{
  h5{
    color:$HeaderLinkColor;
    span{
      font-size: 20px;
    }
  }
}
.contestinfo{
  background-color: $HeaderLinkColor;
  flex:1;
}
.info{
  background-color: $HeaderLinkColor;
  .borderradius_left{
    border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   .borderradius_right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .tabs{
    padding:6px;
    text-align: left;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  .tabs:hover{
   background-color: $HeaderLinkColor;
   border-bottom:2px solid $UpdateBtnColor;
   padding-bottom: 4px;
   cursor: pointer;
 }
}
.subtitle{
  font-size: 12px;
  font-weight: bold;
  margin-top: 1em;
}
.tabs{
  background-color: #eee;
  padding:10px;
  width:10%;
  text-align: center;
  border-right: 1px solid #ddd;
   &:hover{
    background-color: $HeaderLinkColor;
    border-bottom:2px solid $UpdateBtnColor;
    padding-bottom: 8px;
    cursor: pointer;
  }
  .sporticon{
    align-items: center;
    display: flex;
    justify-content: center;
    padding:5px;
  }
}
.tabactive{
  background-color: $HeaderLinkColor;
  border-bottom:2px solid $UpdateBtnColor;
  padding-bottom: 4px;
  cursor: pointer;
 }
 .maintext{
   font-size: 12px;
   font-weight: bold;
 }
 .subtext{
   font-size: 10px;
 }
