$DefaultTheme: #017aa7;
$HeaderLinkColor: #ffffff;
$HeaderActiveBgColor: #055f82;
$GreenBtn:#4fb558;
$SublinkColor: #23a1d6;

.logo{
  padding:0px;
}
.navbar{
  background-color: $DefaultTheme;
}
.nav_innerdiv{
    margin:10px;
}
.navbar-default .navbar-nav>li>a{
  color: $HeaderLinkColor ;
  padding: 13px 20px 10px 15px;
}
.navbar-default .navbar-nav>li>a.join{
  color:$SublinkColor;
  padding: 5px;
}
.navbar-default .navbar-right>li{
  padding: 10px 5px 5px 0px;
}
.btn .btn-success{
  background-color: $GreenBtn;
}
.active{
  background-color: $HeaderActiveBgColor;
  color: #555;
  border-radius: 5px;
}
.loginbtn{
  padding:5px;
}
